<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ng-model-option</title>
</head>
<body ng-controller="Ctrl">
    <input type="text" ng-model="a" ng-model-options="{updateOn: 'blur'}">
    <br>
    {{a}}
    --update the model after blur event
    <br>
    <input type="text" ng-model="b" ng-model-options="{debounce: 1000}">
    <br>
    {{b}}
    --update the model after stop typing 1 second
    <br>
    <input type="text" ng-model="c" ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}">
    <br>
    {{c}}
    --update the model after blur event or after stop typing 1 second
    <br>

    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('Ctrl', ['$scope', function ($scope) {
            $scope.a = '';
            $scope.c = '';
            $scope.b = '';
        }]);
    </script>
</body>
</html>