<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@</title>
</head>
<body ng-controller="Ctrl">
    Ctrl:<input type="text" ng-model="name">
    <br>
    Directive: <hello nm="{{name}}"></hello>
    <script src="../../lib/jquery.js"></script>
    <script src="../../lib/angular.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('Ctrl', ['$scope', function($scope) {
            $scope.ctrlName = 'Ctrl';
            $scope.name = 'drzz';
            window.ctrl = $scope;
        }]);
        app.directive('hello', function(){
            return {
                restrict: 'EA',
                scope: {
                    nm: '@'
                },
                template: '<input type="text" ng-model="nm"/>',
                link: function(scope, element, attrs) {
                    scope.ctrlName = 'hello';
                    window.hello = scope;
                }
            };
        });
    </script>
</body>
</html>