doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
//- 条件注释(不会显示在html中)
<!--[if !IE]><!--><html><!--<![endif]-->
html
  head
    meta(charset='utf-8')
    title first jade file
    style.
      body {
        color: orange
      }
    script.
      var course = 'jade';
      console.log(course);
  body
    h1#title.title.title1 Hello World!
    // p this is a singleline comment;单行注释(会显示在html中)
    //- this is a block comment;块注释(不会显示在html中)
      xxx
      qwew
      qwe
    //- 非缓冲注释
    section
    div(id="asd", class="hello")
    #id.class
    ul
    strong
    hr
    br
    a(href='www.so.com', title='so', data-uid='qwe') link
    input(name='course', type='text', value='qwe')
    input(name='course', type='checkbox', checked)
    p.
      1.aa<strong>11</strong>
      2.bb
    p
      | 3.cc
      <span>22</span>
      | 4.dd
</html>