doctype html
html
  head
    meta(charset='utf-8')
    title first jade file
  body
    h1#title.title.title1 Hello World!
    p this is a new line
    section
    div(id="asd", class="hello")
    #id.class
    ul
    strong
    hr
    br