<div class="">
  <h1>ngIf</h1>
  <div *ngIf="false">*ngIf="false"</div><!-- never displayed -->
  <div *ngIf="a > b">*ngIf="a > b", a = {{a}}, b = {{b}};</div><!-- displayed if a is more than b -->
  <div *ngIf="str == 'yes'">*ngIf="str == 'yes'", str = {{str}};</div><!-- displayed if str holds the string "yes" -->
  <div *ngIf="myFunc()">*ngIf="myFunc()", myFunc returns {{myFunc()}};</div><!-- displayed if myFunc returns a true value -->
</div>

<div class="">
  <h1>ngSwitch</h1>
  myVar:{{myVar}};
  <button type="button" (click)="myVar = 'A'">A</button>
  <button type="button" (click)="myVar = 'B'">B</button>
  <button type="button" (click)="myVar = 'C'">C</button>
  <button type="button" (click)="myVar = 'D'">D</button>
  <h5>use ngIf</h5>
  <div *ngIf="myVar == 'A'">Var is A</div>
  <div *ngIf="myVar == 'B'">Var is B</div>
  <div *ngIf="myVar == 'C'">Var is C</div>
  <div *ngIf="myVar != 'A' && myVar != 'B' && myVar != 'C'">Var is something else</div>
  <h5>use ngSwitch</h5>
  <div class="container" [ngSwitch]="myVar">
    <div *ngSwitchCase="'A'">Var is A</div>
    <div *ngSwitchCase="'B'">Var is B</div>
    <div *ngSwitchCase="'C'">Var is C</div>
    <div *ngSwitchDefault>Var is something else</div>
  </div>
  <br>
  <h5>more than one ngSwitchCase</h5>
  <ul [ngSwitch]="choice">
    <li *ngSwitchCase="1">First choice</li>
    <li *ngSwitchCase="2">Second choice</li>
    <li *ngSwitchCase="3">Third choice</li>
    <li *ngSwitchCase="4">Fourth choice</li>
    <li *ngSwitchCase="2">Second choice, again</li>
    <li *ngSwitchDefault>Default choice</li>
  </ul>
</div>
<div>
  <h1>ngStyle</h1>
  <div [style.background-color]="'yellow'">
    Uses fixed yellow background
  </div>
  <div [ngStyle]="{color: 'white', 'background-color': 'blue'}">
    Uses fixed white text on blue background
  </div>
  <h5>set color</h5>
  <div class="ui input">
    <input type="text" name="color" value="{{color}}" #colorinput>
  </div>
  <div class="ui input">
    <input type="text" name="fontSize" value="{{fontSize}}" #fontinput>
  </div>
  <button class="ui primary button"
    (click)="apply(colorinput.value, fontinput.value)">
    Apply settings
  </button>
  <div>
    <span [ngStyle]="{color: 'red'}" [style.font-size.px]="fontSize">
      red text
    </span>
  </div>
  <h4 class="ui horizontal divider header">
    ngStyle with object property from variable
  </h4>
  <div>
    <span [ngStyle]="{color: color}">
      {{ color }} text
    </span>
  </div>
  <h4 class="ui horizontal divider header">
    style from variable
  </h4>
  <div [style.background-color]="color"
    style="color: white;">
    {{ color }} background
  </div>
</div>
<div>
  <h1>ngClass</h1>
  <div [ngClass]="{bordered: false}">This is never bordered</div>
  <div [ngClass]="{bordered: true}">This is always bordered</div>
  <div [ngClass]="{bordered: isBordered}">
    Using object literal. Border {{ isBordered ? "ON" : "OFF" }}
  </div>
  <div [ngClass]="classesObj">
    Using object var. Border {{ classesObj.bordered ? "ON" : "OFF" }}
  </div>
  <div class="base" [ngClass]="['blue', 'round']">
    This will always have a blue background and
    round corners
  </div>
  <div class="base" [ngClass]="classList">
    This is {{ classList.indexOf('blue') > -1 ? "" : "NOT" }} blue
    and {{ classList.indexOf('round') > -1 ? "" : "NOT" }} round
  </div>
</div>
<div>
  <h1>ngFor</h1>
  
</div>
